body {
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar {
  background-color: #212529;
  color: #f8f9fa;
}

.card {
  background-color: #424242;
  color: #f8f9fa;
}

.btn {
  background-color: #343a40;
  color: #f8f9fa;
  border-color: #f8f9fa;
  --bs-btn-hover-bg: #2d2f32;
  --bs-btn-hover-border-color: #465470;
}

/* Active state for buttons */
.btn.active,
.btn:active {
  background-color: #f8f9fa;
  color: #343a40;
}
